
<p>
<strong>Title</strong>
<%= @title.title_name %>
</p>


<p>
<strong>Nameofservice</strong>
<%= @service.nameofsevice %>
</p>

<p>
<strong>City</strong>
<%= @city.city_name %>
</p>


<p>
<strong>Address</strong>
<%= @service.address %>
</p>


<p>
<strong>Contact</strong>
<%= @service.contact %>
</p>


<p>
<strong>Description</strong>
<%= @service.description %>
</p>



