<div style="padding-top: 35px;">
    <div class="card col-sm-8 col-sm-offset-2" >
        <div class="card-body">
            <div class="container">

                <br>
                <p>
                    <strong>Title:</strong> 
                    <%= @title.title_name %>
                </p>

                <p>
                    <strong>Nameofservice:</strong>
                    <%= @service.nameofsevice %>
                </p>

                <p>
                    <strong>City:</strong>
                    <%= @city.city_name %>
                </p>

                <p>
                    <strong>Address:</strong>
                    <%= @service.address %>
                </p>

                <p>
                    <strong>Contact:</strong>
                    <%= @service.contact %>
                </p>

                <p>
                    <strong>Description:</strong>
                    <%= @service.description %>
                </p>

                <p>
                    <%= link_to "Back",  showservice_serviceproviders_path,class: "btn btn-info"  %>
                </p>
                <br>

                <hr>
                <h3>Details of booking </h3>
                <br>
                
                <b> UserName : </b><%= @book.user.name %>
                <br>
                <b> Contact of user : </b><%= @book.contact %>
                <br>
                <b>How many guests are you expecting?: </b><%= @book.guestdata %>
                <br>
                <b>For how long do you require the hall on rent?:</b><%= @book.daydata %>
                <br>
                <b>What is your preferred budget?:</b><%= @book.bugetdata %>    
                <br>
                <b>What time would like to recieve calls?:</b><%= @book.calldata %>
                <br>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>