<div style="width: 1250px;margin-top:50px;margin-left:190px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Catering</h2>
            <hr><br>
            <div class="row">
                <% if @services %> 
                    <% if @services != [] %>
                        <% @services.each do |s| %>
                            <div class="row col-sm-offset-1">
                                <div id="myTable">
                                    <div class="col-sm-6"> 
                                        <b>Nameofsevice:</b>
                                        <%= s.nameofsevice %><br>
                                        <b>Address:</b>
                                        <%= s.address %><br>
                                        <b>City:</b><%=    s.printcity(s.city_id)    %><br><br>
                                        <%= link_to "view more",viewmore_users_path(s), :class=>"btn btn-info" %></div>
                                        <div class="col-sm-6"><%= image_tag(s.resizeimage) if s.service_image.attached? %></div>
                                    </div> 
                                </div>
                            </div>
                            <hr>  
                        <% end %>      
                    <%else%>
                        <div class="container">
                            <div class="jumbotron">
                                <h1>not add yet </h1>
                            </div>
                        </div>
                    <%end%>
                <%else%>
                    <div class="container">
                        <div class="jumbotron">            
                            <h1>not add yet </h1>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>