<div style="width: 1250px;margin-top:50px;margin-left:190px;">
<div class="panel panel-default">
<div class="panel-body">


    <h2>Cetering</h2>
<hr>

<div class="row"> 


<% if @services %> 
<% if @services != [] %>


<%= form_with(scope: :users,url: ceteringpage_users_path,method: :GET,local: true) do |f| %>
    <div class="col-sm-4">
    <%= f.text_field :search, placeholder: "Search" %>
    <%= f.submit "search" %>
    </div>
<% end %>

<%= form_with(scope: :users,url: ceteringpage_users_path,method: :GET,local: true) do |f| %>
    <div class="col-md-6 col-md-offset-2">
    <%= f.select(:sortby,["by latest upload", "by name"]) %>
    <%= f.submit "submit sortby" %>
    </div>
<% end %>

<br>
<br>
</div>
<hr>

<div class="row col-sm-offset-1">



    <% @services.each do |s| %>

       
    <div class="row">
    <div class="col-sm-6"> <b>Nameofsevice:</b>
    <%= s.nameofsevice %><br>
    <b>Address:</b>
    <%= highlight(s.address,if @s.nil? then [] else [@s] end) %><br>
    <b>City:</b><%=    s.printcity(s.city_id)    %><br>
    <%= link_to "view more",viewmore_users_path(s) %></div>
    <div class="col-sm-6"><%= image_tag(s.resizeimage) if s.service_image.attached? %></div>
  </div> 
<hr>
       
        <% end %>

    
    <%else%>
    <div class="container">
        <div class="jumbotron">

            <h1>not add yet </h1>
        </div>
    </div>
<%end%>
<%else%>
    <div class="container">
        <div class="jumbotron">

            <h1>not add yet </h1>
        </div>
    </div>
<%end%>
</div>
</div>
</div>
</div>