<div style="width: 700px;margin-top:50px;margin-left:190px;">

<div class="panel panel-default">
<div class="panel-body">


    <table>
      <tr>
        <td><%= @service.nameofsevice %></td>
      </tr>
      <tr>
        <td><%= "in    #{@service.printcity(@service.city_id)}  "  %></td>    
      </tr>
      <tr>
      <td><b>Address:   </b><%= @service.address %></td>
    </tr>
    
      <tr>
        <td><b>Contact:   </b><%= @service.contact %></td>
      </tr>
      
     

      <tr>
      <td><b>Description:</b></td>
      </tr>
      <tr>
        <td><%= @service.description %></td>
      </tr>

    </table>

    <%= image_tag(@service.viewin) if @service.service_image.attached? %>
  </div>
</div>
</div>