<div style="width: 700px;margin-top:50px;margin-left:190px;">

<div class="panel panel-default">
<div class="panel-body">

<br>
<%= link_to "Banquet Hall",banquetpage_users_path, :class=>"btn btn-default btn-block"%><br>
<hr><br>
<%= link_to "Party Plots", partyplotpage_users_path, :class=>"btn btn-default btn-block"%><br>
<hr><br>
<%= link_to "Music",  musicpage_users_path, :class=>"btn btn-default btn-block" %><br>
<hr><br>
<%= link_to "Decoration", decorationpage_users_path, :class=>"btn btn-default btn-block" %><br>
<hr><br>
<%= link_to "Cetrine", ceteringpage_users_path, :class=>"btn btn-default btn-block" %><br>    

</div>
</div>
</div>