<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>  
          <% if current_user.role == "user"  %>

              <%= link_to(viewservices_users_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-briefcase"></span> Services
              <% end %>

              <%= link_to(book_booknotifyservices_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-book"></span> Your booking
              <% end %>

              <%= link_to(profile_serviceproviders_path(current_user.id), class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-user"></span> <%= current_user.name %> 
              <% end %>

              <%= link_to(sessions_destroy_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-off"></span> Logout 
              <% end %>

          <% elsif current_user.role == "serviceprovider" %>

              <%= link_to(addservices_serviceproviders_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-log-in"></span> Add service 
              <% end %>

              <%= link_to( setting_serviceproviders_path , class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-cog"></span>  Setting
              <% end %>

          <% elsif current_user.role == "admin" %>

              <%= link_to(admin_mainpage_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-eye-open"></span> SeeData
              <% end %>

              <%= link_to(profile_serviceproviders_path(current_user.id), class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-user"></span> <%= current_user.name %> 
              <% end %>

              <%= link_to(sessions_destroy_path, class: 'dropdown-item') do %>
                <span class="glyphicon glyphicon-off"></span> Logout 
              <% end %>

          <% end %>
     
        <% else %>  
            
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/sessions/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    
        <% end %>  
    </ul>
  </div>

</nav> 
</body>